<div class="container">
  <div class="row">
    <div class="col">
      <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
      <section class="h-100">
        <div class="h-100 d-flex">
          <!-- Left column container with background -->
          <div
            class="col-lg-6 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between mb-12 mb-md-0 md:w-9/12 lg:w-6/12 xl:w-6/12"
          >
            <img
              src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="w-100"
              alt="Sample image"
            />
          </div>

          <!-- Right column container -->
          <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
            <form (ngSubmit)="formSubmit()" [formGroup]="signupForm">
              <!-- Sign in section -->
              <div
                class="d-flex flex-row align-items-center justify-center justify-lg-start mb-4"
              ></div>

              <!-- Separator between social media sign in and email/password sign in -->
              <div
                class="my-4 d-flex align-items-center border-t border-2 border-light"
              ></div>

              <!-- User input -->
              <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="userName"
                  name="userName"
                  formControlName="userName"
                  [(ngModel)]="user.userName"
                  required
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    signupForm.controls['userName'].invalid &&
                    signupForm.controls['userName'].touched
                  "
                >
                  User Name is required.
                </div>
              </div>

              <!-- Password input -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  formControlName="password"
                  [(ngModel)]="user.password"
                  required
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    signupForm.controls['password'].invalid &&
                    signupForm.controls['password'].touched
                  "
                >
                  Password must be set.
                </div>
              </div>

              <div class="mb-4 d-flex justify-content-between">
                <!-- Remember me checkbox -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="exampleCheck2"
                  />
                  <label class="form-check-label" for="exampleCheck2"
                    >Remember me</label
                  >
                </div>

                <!-- Forgot password link -->
                <a [routerLink]="'/password-reset'">Forgot password?</a>
              </div>

              <!-- Login button -->
              <div class="text-center text-lg-start">
                <button
                  type="submit"
                  class="btn btn-primary px-4 py-2.5 text-sm font-medium"
                >
                  Login
                </button>

                <!-- Register link -->
                <p class="mb-0 mt-2 pt-1 text-sm font-semibold">
                  Don't have an account?
                  <a [routerLink]="'/register'" href="#!" class="text-danger"
                    >Register</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
